@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 271.5 100% 95%;
    --foreground: 271.5 5% 10%;
    --card: 271.5 50% 90%;
    --card-foreground: 271.5 5% 15%;
    --popover: 271.5 100% 95%;
    --popover-foreground: 271.5 100% 10%;
    --primary: 271.5 81.3% 55.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 271.5 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 233.5 30% 85%;
    --muted-foreground: 271.5 5% 35%;
    --accent: 233.5 30% 80%;
    --accent-foreground: 271.5 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 271.5 5% 90%;
    --border: 271.5 30% 50%;
    --input: 271.5 30% 26%;
    --ring: 271.5 81.3% 55.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 271.5 50% 10%;
    --foreground: 271.5 5% 90%;
    --card: 271.5 50% 10%;
    --card-foreground: 271.5 5% 90%;
    --popover: 271.5 50% 5%;
    --popover-foreground: 271.5 5% 90%;
    --primary: 271.5 81.3% 55.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 271.5 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 233.5 30% 25%;
    --muted-foreground: 271.5 5% 60%;
    --accent: 233.5 30% 25%;
    --accent-foreground: 271.5 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 271.5 5% 90%;
    --border: 271.5 30% 26%;
    --input: 271.5 30% 26%;
    --ring: 271.5 81.3% 55.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}